@font-face {
    font-family: 'Valorant Font';
    src: url('resources/misc/valorant/Valorant\ Font.ttf') format('truetype'),
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('resources/misc/valorantLogo.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: repeat;
}

header {
    background-color: #ff4654;
    font-family:  'Valorant Font';
    color: #fff;
    text-align: center;
    padding: 1rem;
}

section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.agent-details-title {
    text-align: center;
}

.back-to-agents {
    background-color: #ff4654; 
    color: #fff; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .back-to-agents:hover {
    background-color: #d54035;
  }
  

.agent-card {
    font-family:  'Valorant Font';
    background-color: #0e2f42;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    position: relative;
    border: 5px solid #38d3bb;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.agent-card:hover {
    transform: scale(1.05);
    cursor:crosshair;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    border-color: #e74c3c;
}

.agent-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.agent-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: left;
}

.agent-name {
    grid-column: 1 / span 2;
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-left: 32px;
    color: #38d3bb;
}

.role {
    grid-column: 3;
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 5px;
    margin-right: 35px;
}

.role-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.agent-role {
    
    font-size: 1.2rem;
    color: #38d3bb;
}

.agent-class {
    grid-column: 1 / span 3;
    font-size: 1.2rem;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    color: #38d3bb;
}

.abilities {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 30px;
    align-content: center;
    flex-direction: row;
    width: 50px;
    height: 50px;
}

.ability-icon {
    position: relative;
    margin-right: 30px;
}

.agent-id {
    font-size: 1.2rem;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 30px;
    color: #ff4654;
    margin-bottom: 5px;
    margin-right: 15px;
}

.valorant-logo {
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
    margin-right: 10px;
    position: relative;
}
  
.agent-details-column, .agent-portrait-column, .agent-abilities-column {
    padding: 10px;
    text-align: center;
    color: #ffffff;  
  }

.agent-portrait-column img {
    display: block;
    margin: 0 auto;
  }

.agent-heading1 {
    font-family:  'Valorant Font';
    font-size: 40px;
    text-align: center;
}

.agent-information-text {
    font-family:  'Valorant Font';
    text-align: center;

}

.agent-biography-text {
    font-size: 20px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;

}

.agent-codename {
    font-family:  'Valorant Font';
    color: #ffffff;
    font-size:50px;
  }

.agent-portrait-role {
    font-family:  'Valorant Font';
    margin-top:-25px;
    font-size: 25px;
  }

.portrait-role-icon {
    width: 60px;
    height: 60px;
  }

.ability {
    justify-content: center; 
    align-items: center; 
    margin-right: 50px;
    margin-left: 50px;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border: 1px solid #ffffff;
}

.agent-details-column, .agent-portrait-column, .agent-abilities-column {
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

.agent-portrait-column img {
    display: block;
    margin: 0 auto;
}

.ability-video {
    margin-bottom: 30px;
    margin: 30px;
}

.ability-buttons {
    display: flex;
    justify-content: space-around;
}

.ability-button {
    background-color: #ab4c4c;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ability-button:hover {
    background-color: #f70d21;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.agent-ability-icon {
    width: 50px;
    height: 50px;
    margin-top: 4px;
}

.ability-keybinds {
    font-family:  'Valorant Font';
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.ability-names {
    font-family:  'Valorant Font';
    font-size: 30px;
}

.ability-description {
    margin-right: 50px;
    margin-left: 50px;
}

@media screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .agent-details-column {
        order: 1;
    }

    .agent-portrait-column {
        order: 2;
    }

    .agent-abilities-column {
        order: 3;
    }
}
